{% extends "base.html" %}{% load static %}

{% block html_head %}
    <link rel='stylesheet' href='{% static "css/select2.min.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/select2-bootstrap4.min.css" %}' type='text/css' />
    <script src='{% static "js/select2.min.js" %}'></script>
    <script src='{% static "js/locales/select2.ru.js" %}'></script>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>{{ title }}:</h4>
                    </div>
                    <div class="col-auto mr-0 text-right">
                        <a href="{% url 'employer_export' %}" class="btn btn-outline-secondary" title="Скачать данные">
                            <i class="fas fa-download"></i> Скачать данные
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method='post' action='{% url 'employer_find' %}'>
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Поиск карточек</span>
                        </div>
                        {{ form_search }}
                        {{ form_filter_czn }}
                        {{ form_filter_status }}
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit" name="search">Поиск</button>
                        </div>
                    </div>
                </form>
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    Найдено карточек - <span class="count_all"></span>. Отображается - <span class="count_view"></span>.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <table class="table table-hover table-sm table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Наименование работодателя</th>
                        <th scope="col">Автор карточки</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody class="find-result"></tbody>
                </table>
            </div>
            <div class="card-footer text-muted button-next"></div>
        </div>
    </main>
    <script>
        let count_page = {{ count_page }};
        let per_page = {{ per_page }};
        let count_employer = {{ count_employer }};
        let number_page = 1;
        let pathname = $(location).attr('href');

        function get_slice_employer() {
            $.get(pathname, {page: number_page, {% if emp_find %} emp_find: '{{ emp_find }}',{% endif %} {% if emp_czn %}emp_czn: {{emp_czn}},{% endif %} {% if emp_status %}emp_status: {{ emp_status }}{% endif %} }, function(data) {
                $('.find-result').append(data);
            });
        }

        $(document).ready(function() {
            $('select[name=czn]').select2({
                allowClear: true,
                width: 40,
                placeholder: "Выберите центр занятости",
                theme: "bootstrap4",
                language: "ru"
            });
            $('select[name=status]').select2({
                allowClear: true,
                width: 40,
                placeholder: "Выберите статус",
                theme: "bootstrap4",
                language: "ru"
            });
            get_slice_employer();
            number_page = number_page + 1;
            if (count_page > 1) {
                $('.count_all').html(count_employer);
                $('.count_view').html((number_page - 1) * per_page);
                $('.button-next').html('<button class="btn btn-light btn-block" id="button-next" type="submit">Показать больше записей</button>');
                $('#button-next').click(function () {
                    get_slice_employer();
                    if (number_page >= count_page) {
                        $('.button-next').hide();
                        $('.count_view').html(count_employer);
                    } else {
                        $('.count_view').html(number_page * per_page);
                        number_page = number_page + 1;
                    }
                });
            } else {
                $('.button-next').hide();
                $('.count_all').html(count_employer);
                $('.count_view').html(count_employer);
            }
        });
    </script>
{% endblock %}
