                <div class="card mb-3">
                    <div class="card-header">
                        <h5>История взаимодействия с карточкой предприятия нарушителя:</h5>
                    </div>
                    <div class="card-body">
                        {% for event in list_event %}
                            <div class="alert alert-secondary small" role="alert">
                                <div class="row">
                                    <div class="col">
                                        {{ event.Comment }} {% if event.Attache %}- <a href="{{ event.Attache.url }}">Скачать</a> {% endif %}
                                    </div>
                                    <div class="col-3 mr-0 text-right">
                                        {% firstof event.Owner.user.get_full_name event.Owner.user %}, {{ event.CreateDate }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
