                        <form class="form-inline mb-0" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ form_protocol }}
                                <input type="hidden" name="comment" value="Получение уведомления">
                                <input type="hidden" name="status" value=5>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
