                        <form class="form-inline mb-0" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ form_notice }}
                                <input type="hidden" name="comment" value="Добавлен результат исполнения постановления об административном нарушении">
                                <input type="hidden" name="status" value=9>
                                <button type="submit" class="btn btn-primary">Добавить результат исполнения постановления об административном нарушении</button>
                            </div>
                        </form>
