{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>{{ title }}:</h4>
                    </div>
                    <div class="col-auto mr-0 text-right">
                        <a class="btn btn-outline-dark" href="{% url 'employer_print' employer.id %}" role="button" target="_blank">Печать</a>
                        {% if profile.role == 3 and employer.Status != 9 and employer.Status != 12 %}
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ModalClose">Закрыть</button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDelete">Удалить</button>
                        {% endif %}
                        {% if profile.role == 4 and employer.Response == None %}
                            <button type="button" class="btn btn-primary" onclick="SetResponse('{{ employer.Title }}', '{{ employer.id }}')" title="Назначить ответственное лицо">Назначить ответственного</button>
                        {% endif %}
                        {% if employer.Response %}
                            <span title="Ответственное лицо" class="p-2">{{ employer.Response }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    <h5>Сведения о работодателе нарушившим статью 25 Закона Российской Федерации "О занятости населения в Российской Федерации"</h5>
                </div>
                <div class="card bg-light">
                    <div class="card-header {% if employer.Status == 8 %}bg-danger{% endif %}{% if employer.Status == 9 %}bg-success{% endif %}{% if employer.Status == 12 %}bg-success{% endif %}">
                        <h4 class="card-title">{{ employer.Title }}</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">Юридический адрес:</dt>
                            <dd class="col-sm-8">{{ employer.JurAddress }}</dd>
                            <dt class="col-sm-4">Фактический адрес:</dt>
                            <dd class="col-sm-8">{{ employer.FactAddress }}</dd>
                        </dl>
                        <hr class="my-2">
                        <dl class="row">
                            <dt class="col-sm-4">ИНН:</dt>
                            <dd class="col-sm-8">{{ employer.INN }}</dd>
                            <dt class="col-sm-4">ОГРН:</dt>
                            <dd class="col-sm-8">{{ employer.OGRN }}</dd>
                        </dl>
                        <hr class="my-2">
                        {% if not employer.Archive %}
                            <dl class="row">
                                <dt class="col-sm-4" title='Указывается для работодателей, разместивших сведения о вакансиях в информационно-телекоммуникационой сети "Интернет", включая информационно-аналитическую систему Общероссийская база вакансий "Работа в России", а также на сйтах организаций, предоставляющих услуги по подбору работников, в средствах массовой информации Омской области, в том числе периодических печатных изданиях'>
                                    Дата размещения вакансии*:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.VacancyDate %}{{ employer.VacancyDate }} {% endif %}{% if employer.VacancyComment != '' %}{{ employer.VacancyComment }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата последнего взаимодействия работодателя и центра занятости:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.EventDate %}{{ employer.EventDate }} {% endif %}{% if employer.EventComment != '' %}{{ employer.EventComment }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Вид административного правонарушения:
                                </dt>
                                <dd class="col-sm-8">
                                    <ul class="list-group list-group-flush">
                                        {% for inf in list_information %}
                                            <li class="list-group-item bg-light">
                                                {{ inf.get_Name_display }} {% ifnotequal inf.Comment '' %}(Комментарий: {{ inf.Comment }}){% endifnotequal %}{% if inf.Attache %} <a href="{{ inf.Attache.url }}">Скачать приложение</a> {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата информирования работодателя центром занятости о необходимости предоставления информации о наличии свободных рабочих мест и вакантных должностей:
                                </dt>
                                <dd class="col-sm-8">
                                    <ul class="list-group list-group-flush">
                                        {% for notify in list_notify %}
                                            <li class="list-group-item bg-light">
                                                {% if notify.NotifyDate %}{{ notify.NotifyDate }}{% else %}Дата не указана{% endif %}, {{ notify.get_Method_display }} {% ifnotequal notify.Comment '' %}(Комментарий: {{ notify.Comment }}){% endifnotequal %}{% if notify.Attache %} <a href="{{ notify.Attache.url }}">Скачать приложение</a> {% endif %} - {{ notify.CreateDate }}, {% firstof notify.Owner.user.get_full_name notify.Owner.user %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата направления информации в департамент занятости населения Министерства труда и социального развития Омской области:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.SendDate %}{{ employer.SendDate }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-4">Контакт:</dt>
                            <dd class="col-sm-8">{{ employer.Contact }}</dd>
                        </dl>
                        <hr class="my-2">
                        <dl class="row">
                            <dt class="col-sm-4">Зарегистрирован в ПК Катарсис:</dt>
                            <dd class="col-sm-8">{% if employer.RegKatharsis %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</dd>
                            <dt class="col-sm-4">Запросить выписку из ЕГРЮЛ:</dt>
                            <dd class="col-sm-8"><a href="https://egrul.nalog.ru/" target="_blank">Перейти</a></dd>
                        </dl>
                    </div>
                </div>
                {% ifequal profile.role 1 %}
                    {% if employer.Status == 0 or employer.Status == 1 %}
                        {% ifequal profile.id employer.Owner.id %}
                            <br />
                            <a class="btn btn-primary" href="{% url 'employer_edit' employer.id %}" role="button">Редактировать</a>
                            <br />
                        {% endifequal %}
                    {% endif %}
                {% endifequal %}
                {% ifequal profile.role 2 %}
                    {% ifequal employer.Status 2 %}
                        <br />
                        <form class="form" method="post" action="{% url 'employer_audit' employer.id %}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="submit" name='accept' class="btn btn-success">Принято</button>
                                    <button type="submit" name='return' class="btn btn-warning">Возврат для доработки по причине:</button>
                                </div>
                                {{ form_return.return_result }}
                                {{ form_return.return_comment }}
                            </div>
                        </form>
                    {% endifequal %}
                {% endifequal %}
                {% ifequal profile.role 3 %}
                    {% ifequal employer.Status 3 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ form_notice }}
                                <input type="hidden" name="comment" value="Добавлено уведомление о вызове на составление протокола об административном нарушении">
                                <input type="hidden" name="status" value=4>
                                <button type="submit" class="btn btn-primary">Добавить уведомление о вызове на составление протокола об административном нарушении</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 4 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ protocol_form }}
                                <input type="hidden" name="comment" value="Получение уведомления">
                                <input type="hidden" name="status" value=5>
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 5 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ notice_form }}
                                <input type="hidden" name="comment" value="Добавлен протокол об административном правонарушении">
                                <input type="hidden" name="status" value=10>
                                <button type="submit" class="btn btn-primary">Добавить протокол об административном правонарушении</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 10 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ notice_form }}
                                <input type="hidden" name="comment" value="Добавлено уведомление о направлении протокола об административном правонарушении работодателю">
                                <input type="hidden" name="status" value=6>
                                <button type="submit" class="btn btn-primary">Добавить уведомление о направлении протокола об административном правонарушении работодателю</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 6 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ notice_form }}
                                <input type="hidden" name="comment" value="Добавлен материал об административном нарушении для рассмотрения Мировым судьей">
                                <input type="hidden" name="status" value=7>
                                <button type="submit" class="btn btn-primary">Добавить заявление Мировому судье о рассмотрении протокола</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 7 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                {{ result_form }}
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                {{ notice_form }}
                                <input type="hidden" name="comment" value="Добавлен результат рассмотрения протокола об административном правонарушении Мирововым судьей">
                                <input type="hidden" name="status" value=9>
                                <button type="submit" class="btn btn-primary">Добавить результат рассмотрения протокола Мирововым судьей</button>
                            </div>
                        </form>
                    {% endifequal %}
                    {% ifequal employer.Status 11 %}
                        <br />
                        <form class="form-inline" method="post" action='{% url 'event' employer.id %}' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                {{ notice_form }}
                                <input type="hidden" name="comment" value="Добавлен результат исполнения постановления об административном нарушении">
                                <input type="hidden" name="status" value=9>
                                <button type="submit" class="btn btn-primary">Добавить результат исполнения постановления об административном нарушении</button>
                            </div>
                        </form>
                    {% endifequal %}
                {% endifequal %}
                <br />
                {% for i in list_existing_employer %}
                    {% ifnotequal i.id employer.id %}
                        <div class="alert {% if i.Status == 9 %}alert-success{% else %}alert-danger{% endif %} small" role="alert">Карточка предприятия с таким же ИНН существует. <a href="{% url 'employer_view' i.id %}" class="alert-link">{{ i.Title }}</a> {{ i.get_Status_display }}</div>
                    {% endifnotequal %}
                {% endfor %}
                {% for event in list_event %}
                    <div class="alert alert-dark small" role="alert">
                        {{ event.Comment }} {% if event.Attache %}- <a href="{{ event.Attache.url }}">Скачать</a> {% endif %}- ({{ event.CreateDate }}, {% firstof event.Owner.user.get_full_name event.Owner.user %})
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    {% if profile.role == 3 and employer.Status != 9 and employer.Status != 12 %}
        <!-- Окно запроса подтверждения на закрытие карточки -->
        <div class="modal fade" id="ModalClose" tabindex="-1" role="dialog" aria-labelledby="ModalCloseTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalCloseTitle">Закрытие карточки предприятия</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form" method="post" action='{% url 'close' employer.id %}'>
                        {% csrf_token %}
                        <div class="modal-body">
                            Вы действительно хотите закрыть карточку предприятия {{ employer.Title }}?
                            {{ close_form }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Не закрывать</button>
                            <button type="submit" class="btn btn-danger">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно запроса подтверждения на закрытие карточки -->
        <!-- Окно запроса подтверждения на удаление карточки -->
        <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalDeleteTitle">Удаление карточки предприятия</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить карточку предприятия {{ employer.Title }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Не удалять</button>
                        <a class="btn btn-danger" href="{% url 'delete' employer.id %}" role="button">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Окно запроса подтверждения на удаление карточки -->
    {% endif %}
    {% if profile.role == 4 and employer.Respons == None %}
        {% include 'response/modal.html' %}
    {% endif %}
{% endblock %}
