{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-auto mr-auto">
                        <h4>Сведения о работодателе нарушившим статью 25 Закона Российской Федерации "О занятости населения в Российской Федерации"</h4>
                    </div>
                    <div class="col-auto mr-0 text-right">
                        <a class="btn btn-outline-dark" href="{% url 'employer_print' employer.id %}" role="button" target="_blank">Печать</a>
                        {% if profile.role == 3 and employer.Status != 9 and employer.Status != 12 %}
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#ModalClose">Закрыть</button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalDelete">Удалить</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card mb-3">
                    <div class="card-header alert-{{ employer.status_new.color }}">
                        <h4>{{ employer.Title }}</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">Юридический адрес:</dt>
                            <dd class="col-sm-8">{{ employer.JurAddress }}</dd>
                            <dt class="col-sm-4">Фактический адрес:</dt>
                            <dd class="col-sm-8">{{ employer.FactAddress }}</dd>
                        </dl>
                        <hr class="my-2">
                        <dl class="row">
                            <dt class="col-sm-4">ИНН:</dt>
                            <dd class="col-sm-8">{{ employer.INN }}</dd>
                            <dt class="col-sm-4">ОГРН:</dt>
                            <dd class="col-sm-8">{{ employer.OGRN }}</dd>
                        </dl>
                        <hr class="my-2">
                        {% if not employer.Archive %}
                            <dl class="row">
                                <dt class="col-sm-4" title='Указывается для работодателей, разместивших сведения о вакансиях в информационно-телекоммуникационой сети "Интернет", включая информационно-аналитическую систему Общероссийская база вакансий "Работа в России", а также на сйтах организаций, предоставляющих услуги по подбору работников, в средствах массовой информации Омской области, в том числе периодических печатных изданиях'>
                                    Дата размещения вакансии*:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.VacancyDate %}{{ employer.VacancyDate }} {% endif %}{% if employer.VacancyComment != '' %}{{ employer.VacancyComment }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата последнего взаимодействия работодателя и центра занятости:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.EventDate %}{{ employer.EventDate }} {% endif %}{% if employer.EventComment != '' %}{{ employer.EventComment }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Вид административного правонарушения:
                                </dt>
                                <dd class="col-sm-8">
                                    {% for inf in list_information %}
                                        <div class="alert bg-light">
                                            {{ inf.type_violations }} {% if inf.Comment != '' %}(Комментарий: {{ inf.Comment }}){% endif %}{% if inf.Attache %} <a href="{{ inf.Attache.url }}">Скачать приложение</a> {% endif %}
                                        </div>
                                    {% endfor %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата информирования работодателя центром занятости о необходимости предоставления
                                    информации о наличии свободных рабочих мест и вакантных должностей:
                                </dt>
                                <dd class="col-sm-8">
                                    {% for notify in list_notify %}
                                        <div class="alert bg-light">
                                            {% if notify.NotifyDate %}{{ notify.NotifyDate }}{% else %}Дата не указана{% endif %}, {{ notify.type_notify }} {% if notify.Comment != '' %}(Комментарий: {{ notify.Comment }}){% endif %}{% if notify.Attache %} <a href="{{ notify.Attache.url }}">Скачать приложение</a> {% endif %} - {{ notify.CreateDate }}, {% firstof notify.Owner.user.get_full_name notify.Owner.user %}
                                        </div>
                                    {% endfor %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    Дата направления информации в департамент занятости населения Министерства труда и
                                    социального развития Омской области:
                                </dt>
                                <dd class="col-sm-8">
                                    {% if employer.SendDate %}{{ employer.SendDate }}{% endif %}
                                </dd>
                            </dl>
                            <hr class="my-2">
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-4">Контакт:</dt>
                            <dd class="col-sm-8">{{ employer.Contact }}</dd>
                        </dl>
                        <hr class="my-2">
                        <dl class="row">
                            <dt class="col-sm-4">Зарегистрирован в ПК Катарсис:</dt>
                            <dd class="col-sm-8">{% if employer.RegKatharsis %}<i class="fas fa-check"></i>{% else %}<i class="fas fa-times"></i>{% endif %}</dd>
                            <dt class="col-sm-4">Запросить выписку из ЕГРЮЛ:</dt>
                            <dd class="col-sm-8"><a href="https://egrul.nalog.ru/" target="_blank">Перейти</a></dd>
                        </dl>
                    </div>
                    {% if step %}
                        <div class="card-footer">
                            {% include step %}
                        </div>
                    {% endif %}
                </div>
                {% include "employer/list_existing_employer.html" %}
                {% include "employer/list_event.html" %}
            </div>
        </div>
    </main>
{#    {% if profile.role == 3 and employer.Status != 9 and employer.Status != 12 %}#}
        <!-- Окно запроса подтверждения на закрытие карточки -->
        <div class="modal fade" id="ModalClose" tabindex="-1" role="dialog" aria-labelledby="ModalCloseTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalCloseTitle">Закрытие карточки предприятия</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="form" method="post" action='{% url 'employer_close' employer.id %}'>
                        {% csrf_token %}
                        <div class="modal-body">
                            Вы действительно хотите закрыть карточку предприятия {{ employer.Title }}?
                            {{ close_form }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Не закрывать</button>
                            <button type="submit" class="btn btn-danger">Закрыть</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Окно запроса подтверждения на закрытие карточки -->
        <!-- Окно запроса подтверждения на удаление карточки -->
        <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalDeleteTitle">Удаление карточки предприятия</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить карточку предприятия {{ employer.Title }}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Не удалять</button>
                        <a class="btn btn-danger" href="{% url 'employer_delete' employer.id %}" role="button">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Окно запроса подтверждения на удаление карточки -->
{#    {% endif %}#}
{% endblock %}
