.idea
__pycache__/
venv/
Main/migrations/
Main/static/
Main/__pycache__/
Main/__init__.py
Main/profile/__pycache__/
Main/profile/__init__.py
Main/employer/__pycache__/
Main/employer/__init__.py
upload/
db.sqlite3
Watch/__pycache__/
Watch/settings.py
Watch/__init__.py