{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <form method="post" action='' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group d-flex">
                            <div class="custom-file">
                                <input type="file" name="files" class="form-control-file" multiple>
                            </div>
                            <button class="btn btn-primary" type="submit">Загрузить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
