{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm">
                    <tbody>
                    {% for configure in list_configure %}
                        <tr>
                            <td class="small">
                                <strong class="h5">{{ configure.title }}</strong>
                                <span class="d-block">{{ configure.description }}</span>
                            </td>
                            <td class="text-right">
                                <a href="{% url configure.url %}" class="btn btn-outline-info" title="{{ configure.title }}">Перейти</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
