{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <form method="post" action='' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group d-flex">
                            <div class="custom-file">
                                <input type="file" name="files" class="form-control-file" multiple>
                            </div>
                            <button class="btn btn-primary" type="submit">Загрузить</button>
                        </div>
                    </form>
                </div>
                {% include "messages.html" %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Информация о последних загрузках работодателей:</h5>
                        <p class="card-text">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Дата загрузки</th>
                                        <th scope="col">Количество загруженных работодателей</th>
                                        <th scope="col">Время затраченное на загрузку</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for upload in list_upload %}
                                        <tr>
                                            <td title="{{ upload.create_date }}">{{ upload.create_date|date }}</td>
                                            <td>{{ upload.count_employer }}</td>
                                            <td>{{ upload.time_spent }} сек.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
