{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    {% for widget, list_filter in list_widget %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-9 h4">
                                        {{ widget.title }}
                                    </div>
                                    <div class="col-3 text-right">
                                        <button type="button" class="btn btn-outline-info" onclick="ShowFilter('{{ widget.id }}')">Изменить</button>
                                    </div>
                                </div>
                                {% for filter in list_filter %}
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" {% if filter.checked %}checked{% endif %} disabled>
                                        <label class="custom-control-label">{{ filter.status }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <!-- Окно информации о работодателе из Катарсиса -->
    <div class="modal fade" id="ModalShowFilter" tabindex="-1" role="dialog" aria-labelledby="ModalShowFilterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <!-- /Окно информации о работодателе из Катарсиса -->
    <script type="text/javascript">
        let pathname = $(location).attr('href');

        function ShowFilter(widget_id) {
            $.get(pathname, {id: widget_id }, function(data) {
                $('.modal-content').html(data);
                console.log(data)
            });
            $('#ModalShowFilter').modal('show');
        }
    </script>

{% endblock %}
