{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        {% include "messages.html" %}
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm table-borderless">
                    <tbody>
                    {% for i in list_profile %}
                        <tr>
                            <td class="small">
                                <strong class="text-gray-dark">{{ i.user.get_full_name }}</strong>
                                <span class="d-block">@{{ i.user.get_username }}</span>
                            </td>
                            <td>{% if i.super_role %}{{ i.get_super_role_display }}{% endif %}</td>
                            <td>{% if i.role %}{{ i.get_role_display }}{% endif %}</td>
                            <td class="text-right">
                                {% if i.super_role %}
                                    <button type="button" class="btn btn-info" onclick="ProfileRole('{{ i.user.get_full_name }}', '{{ i.id }}', '{{ i.get_super_role_display }}')" title="Сменить роль пользователя">Сменить роль</button>
                                {% else %}
                                    <button type="button" class="btn btn-warning" onclick="ProfileRole('{{ i.user.get_full_name }}', '{{ i.id }}', '')" title="Добавить роль пользователя">Добавить роль</button>
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {% if i.blocked %}
                                    <button type="button" class="btn btn-outline-success" onclick="ProfileChangeBlocked('{% url 'profile_change_blocked' i.id %}', '{{ i.user.get_full_name }}', '{{ i.blocked }}')" title="Разблокировать пользователя"><i class="fas fa-lock-open"></i> Разблокировать</button>
                                {% else %}
                                    <button type="button" class="btn btn-outline-danger" onclick="ProfileChangeBlocked('{% url 'profile_change_blocked' i.id %}', '{{ i.user.get_full_name }}', '{{ i.blocked }}')" title="Заблокировать пользователя"><i class="fas fa-lock"></i> Заблокировать</button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <!-- Окно запроса на смену роли -->
    <div class="modal fade" id="ModalProfileRole" tabindex="-1" role="dialog" aria-labelledby="ModalProfileRoleTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <form method='post' action=''>
                    {% csrf_token %}
                    <input type="hidden" name="id_profile" id="ProfileRoleId" value="">
                    <div class="modal-header">
                        <h5 class="modal-title">Сменить роль пользователя <strong id="ProfileRoleName"></strong></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Текущая роль:</label>
                            <div class="col-sm-8 col-form-label">
                                <strong><span id="ProfileRole"></span></strong>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">{{ role_form.super_role.label }}</label>
                            <div class="col-sm-8">
                                {{ role_form.super_role }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">Сменить роль</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Не менять роль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Окно запроса на смену роли -->
    <!-- Окно запроса подтверждения на блокировку/разблокировку -->
    <div class="modal fade" id="ModalProfileBlock" tabindex="-1" role="dialog" aria-labelledby="ModalProfileBlockTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method='post' action='' id="FormBlock">
                    {% csrf_token %}
                    <input type="hidden" name="profile_id" id="ProfileBlockId" value="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalProfileBlockTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="ModalProfileBlockBody"></div>
                    <div class="modal-footer" id="ModalProfileBlockFooter"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Окно запроса подтверждения на блокировку/разблокировку -->
    <script type="text/javascript">
        function ProfileChangeBlocked(url, profile_name, blocked) {
            $('#FormBlock').attr('action', url);
            if (blocked == 'True') {
                $('#ModalProfileBlockTitle').text('Разблокировать пользователя');
                $('#ModalProfileBlockBody').html('Вы действительно хотите разблокировать пользователя <strong>'+profile_name+'</strong>?');
                $('#ModalProfileBlockFooter').html(
                    '<button class="btn btn-success" type="submit">Разблокировать</button>' +
                    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Не разблокировать</button>'
                );
            } else {
                $('#ModalProfileBlockTitle').text('Заблокировать пользователя');
                $('#ModalProfileBlockBody').html('Вы действительно хотите зблокировать пользователя <strong>'+profile_name+'</strong>?');
                $('#ModalProfileBlockFooter').html(
                    '<button class="btn btn-danger" type="submit">Блокировать</button>' +
                    '<button type="button" class="btn btn-secondary" data-dismiss="modal">Не блокировать</button>'
                );
            }
            $('#ModalProfileBlock').modal('show');
        }
        function ProfileRole(profile_name, profile_id, profile_role) {
            $('#ProfileRoleId').attr('value', profile_id);
            $('#ProfileRoleName').text(profile_name);
            $('#ProfileRole').text(profile_role);
            $('#ModalProfileRole').modal('show');
        }
    </script>
{% endblock %}
