{% load i18n %}
{% load static from staticfiles %}
<html>
<head>
<title>{% block html_title %}Заголовок{% endblock %}</title>
    <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/jumbotron.css" %}' type='text/css' />
{% block html_head %}{% endblock %}
    <script src='{% static "js/jquery.slim.min.js" %}'></script>
    <script src='{% static "js/popper.min.js" %}'></script>
    <script src='{% static "js/moment.ru.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
</head>
<body>
{% block html_body_menu %}
{% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">☰</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <span class="dropdown-item"><strong>{% firstof user.get_full_name user.get_short_name user.get_username %}</strong></span>
                    {% if request.user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'users' %}" class="dropdown-item bg-danger text-white">Список пользователей</a>
                        <a href="{% url 'load' %}" class="dropdown-item bg-danger text-white">Загрузка работодателей</a>
                        <a href="{% url 'send' %}" class="dropdown-item bg-danger text-white">Отправить почту</a>
                    {% endif %}
                    {% ifequal profile.role 1 %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'emps' %}" class="dropdown-item">Создать карточку из Катарсиса</a>
                        <a href="{% url 'new' %}" class="dropdown-item">Создать карточку вручную</a>
                    {% endifequal %}
                    {% ifequal profile.role 3 %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'emps' %}" class="dropdown-item">Создать архивную карточку из Катарсиса</a>
                        <a href="{% url 'arch' %}" class="dropdown-item">Создать архивную карточку вручную</a>
                    {% endifequal %}
                    {% ifequal profile.role 4 %}
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'responslist' %}" class="dropdown-item">Назначение ответственного</a>
                    {% endifequal %}
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'messagelist' %}" class="dropdown-item">Уведомления</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
                </div>
            </div>
        </div>
        <a href="{% url 'index' %}" class="navbar-brand">&nbsp;Главная</a>
    </nav>
{% endif %}
{% endblock %}
{% block html_body %}{% endblock %}
</body>
</html>