{% load static %}

<html lang="ru">
<head>
<title>{% block html_title %}{{ title }}{% endblock %}</title>
    <script src='{% static "js/jquery-3.4.1.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "fa/js/all.js" %}'></script>
    <link rel='stylesheet' href='{% static "css/main.css" %}' type='text/css' />
    <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' type='text/css' />
{% block html_head %}{% endblock %}
</head>
<body>
    {% block html_top %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            {% block html_top_menu %}
                {% if request.user.is_authenticated %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ☰
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                 <a href="{% url 'profile_show' current_profile.id %}" class="dropdown-item">
                                     <strong>{% firstof user.get_full_name user.get_short_name user.get_username %}</strong>
                                 </a>
                                <div class="dropdown-divider"></div>
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'configure_list' %}" class="dropdown-item">Список конфигураций</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                {% for menu in current_profile.get_menu %}
                                    <a href="{% url menu.1 %}" class="dropdown-item">
                                        <div class="row">
                                            <div class="col-auto mr-auto">{{ menu.2 }}</div>
                                            <div class="col-auto mt-1 text-right"><i class="{{ menu.3 }}"></i></div>
                                        </div>
                                    </a>
                                {% endfor %}
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'logout' %}" class="dropdown-item">Выход</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="{% url 'index' %}" class="nav-link">Главная</a>
                </li>
                {% if not request.get_full_path == '/' %}
                    <li class="nav-item">
                        <span class="navbar-text">/</span>
                    </li>
                    {% for breadcrumb in list_breadcrumb %}
                        <li class="nav-item active">
                            <a href="{{ breadcrumb.0 }}" class="nav-link">{{ breadcrumb.1 }}</a>
                        </li>
                        <li class="nav-item">
                            <span class="navbar-text">/</span>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
                    </li>
                {% endif %}
                {% block html_top_breadcrumb %}{% endblock %}
            </ul>
        </nav>
    {% endblock %}
    {% block html_body %}{% endblock %}
</body>
</html>