{% extends "base.html" %}{% load static %}

{% block html_title %}Карточка учета работодателя{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'emps' %}">Список работодателей из ПК Катарсис</a></li>
            <li class="breadcrumb-item active">Создание карточки предприятия</li>
        </ol>
        <form method='post' action='{% url 'empcreate' %}' enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless table-hover table-sm table-condensed">
                <tbody>
                    <tr >
                        <th scope="row" class="w-25">{{ form.oTitle.label }}:</th>
                        <td>{{ form.oTitle }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oInn.label }}:</th>
                        <td>{{ form.oInn }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oOgrn.label }}:</th>
                        <td>{{ form.oOgrn }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oJurAddress.label }}:</th>
                        <td>{{ form.oJurAddress }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oFactAddress.label }}:</th>
                        <td>{{ form.oFactAddress }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oContact.label }}:</th>
                        <td>{{ form.oContact }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oEventDate.label }}:</th>
                        <td>{{ form.oEventDate }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oFile.label }}:</th>
                        <td>{{ form.oFile }}</td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" name="emp_id" value="{{ emp_id }}">
            {% for i in pemp %}
                <div class="alert {% ifequal i.Status 9 %}alert-success{% else %}alert-danger{% endifequal %} small" role="alert">Карточка предприятия с таким же ИНН существует. <a href="{% url 'emp' i.id %}" class="alert-link">{{ i.Title }}</a> {{ i.get_Status_display }}</div>
            {% endfor %}
            <br /><button type="submit" class="btn btn-primary">Создать карточку предприятия и отправить на проверку</button>
        </form>
    </div>
{% endblock %}
