{% extends "base.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block html_title %}Карточка учета работодателя{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'emp' emp.id %}">Карточка учета работодателя</a></li>
            <li class="breadcrumb-item active">Редактирование карточки предприятия</li>
        </ol>
        <form method='post' action='{% url 'save' emp.id %}' enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-borderless table-sm table-condensed table-striped">
                <tbody>
                    <tr>
                        <th class="w-25">{{ form.oTitle.label }}:</th>
                        <td>{{ form.oTitle }}</td>
                    </tr>
                    <tr>
                         <th scope="row">{{ form.oJurAddress.label }}:</th>
                        <td>{{ form.oJurAddress }}</td>
                    </tr>
                    <tr>
                         <th scope="row">{{ form.oFactAddress.label }}:</th>
                        <td>{{ form.oFactAddress }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oInn.label }}:</th>
                        <td>{{ form.oInn }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.oOgrn.label }}:</td>
                        <td>{{ form.oOgrn }}</td>
                    </tr>
                    <tr>
                        <td title='Указывается для работодателей, разместивших сведения о вакансиях в информационно-телекоммуникационой сети "Интернет", включая информационно-аналитическую систему Общероссийская база вакансий "Работа в России", а также на сйтах организаций, предоставляющих услуги по подбору работников, в средствах массовой информации Омской области, в том числе периодических печатных изданиях'>{{ form.oVacancyDate.label }}*:</td>
                        <td>
                            <div class="card card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ form.oVacancyDate }}</li>
                                    <li class="list-group-item">{{ form.oVacancyComment }}</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.oEventDate.label }}:</td>
                        <td>
                            <div class="card card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{ form.oEventDate }}</li>
                                    <li class="list-group-item">{{ form.oEventComment }}</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Наименование непредставленной, представленной с нарушением сроков или не в полном объеме информации в центре занятости в соответствии с законодательством о занятости:</th>
                        <td>
                            {% for inf in infolist %}
                                <div class="alert alert-info small" role="alert">
                                    {{ inf.get_Name_display }} {% ifnotequal inf.Comment '' %}({{ inf.Comment }}){% endifnotequal %}{% if inf.Attache %} <a href="{{ inf.Attache.url }}">Скачать приложение</a> {% endif %}
                                </div>
                            {% endfor %}
                            {% if infolist.count != 0 %}<p><a class="btn btn-outline-info" data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseExample">Добавить</a></p>{% endif %}
                            <div class="collapse{% if infolist.count == 0 %} show{% endif %}" id="collapseInfo">
                                <div class="card card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ form.oInfName }}</li>
                                        <li class="list-group-item">{{ form.oInfComment }}</li>
                                        <li class="list-group-item">{{ form.oInfAttach }}</li>
                                        <li class="list-group-item"><button type="submit" class="btn btn-primary" name="info">Сохранить информацию</button></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form.oNotifyMethod.label }}:</th>
                        <td>
                            {% for notify in notifylist %}
                                <div class="alert alert-info small" role="alert">
                                    Работодатель информирован посредством: {{ notify.get_Method_display }} {{ notify.NotifyDate }} {% ifnotequal notify.Comment '' %}({{ notify.Comment }}){% endifnotequal %}{% if notify.Attache %} <a href="{{ notify.Attache.url }}">Скачать приложение</a> {% endif %} - {{ notify.CreateDate }}, {% firstof notify.Owner.user.get_full_name notify.Owner.user %}{% ifequal profile.id emp.Owner.id %}<a class="mb-0 float-sm-right text-danger" href="{% url 'notifydelete' notify.id %}" role="button">Удалить информирование</a>{% endifequal %}
                                </div>
                            {% endfor %}
                            {% if notifylist.count != 0 %}<p><a class="btn btn-outline-info" data-toggle="collapse" href="#collapseNotify" role="button" aria-expanded="false" aria-controls="collapseExample">Добавить</a></p>{% endif %}
                            <div class="collapse{% if notifylist.count == 0 %} show{% endif %}" id="collapseNotify">
                                <div class="card card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ form.oNotifyMethod }}</li>
                                        <li class="list-group-item">{{ form.oNotifyDate }}</li>
                                        <li class="list-group-item">{{ form.oNotifyComment }}</li>
                                        <li class="list-group-item">{{ form.oNotifyAttach }}</li>
                                        <li class="list-group-item"><button type="submit" class="btn btn-primary" name="notify">Сохранить информирование</button></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ form.oContact.label }}:</td>
                        <td>{{ form.oContact }}</td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-success" name="send" {% if infolist.count == 0 or notifylist.count == 0 %}disabled{% endif %}>Сохранить карточку предприятия и отправить на проверку</button>{% ifequal emp.Status 0 %} <a class="btn btn-danger mb-0" href="{% url 'delete' emp.id %}" role="button">Удалить черновик</a>{% endifequal %}
        </form>
        {% for i in pemp %}
            {% ifnotequal i.id emp.id %}
                <div class="alert {% ifequal i.Status 9 %}alert-success{% else %}alert-danger{% endifequal %} small" role="alert">Карточка предприятия с таким же ИНН существует. <a href="{% url 'emp' i.id %}" class="alert-link">{{ i.Title }}</a> {{ i.get_Status_display }}</div>
            {% endifnotequal %}
        {% endfor %}
        {% for event in eventlist %}
            <div class="alert alert-dark small" role="alert">
                {{ event.Comment }} ({{ event.CreateDate }}, {% firstof event.Owner.user.get_full_name event.Owner.user %})
            </div>
        {% endfor %}
    </div>
{% endblock %}
