{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}Профиль пользователя{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Выгрузка данных в файл</li>
        </ol>
        <div class="card">
            <div class="card-header">Выгрузка данных в файл:</div>
            <div class="card-body">
                <p class="card-text">
                    <form method="post" action='{% url 'export' %}' enctype="multipart/form-data">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Выберите центр занятости:</label>
                            <div class="col-sm-10">
                                {{ filter_czn_form }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Выберите выгружаемые поля:</label>
                            <div class="col-sm-10">
                                {% for field_name, field_verbose, field_default in fields %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="fields" value="{{ field_name }}" id="id_fields_{{ forloop.counter0 }}" {% if field_default %}checked{% endif %}>
                                        <label class="form-check-label" for="id_fields_{{ forloop.counter0 }}">
                                            {{ field_verbose }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Выгрузить</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
