{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}Профиль пользователя{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Выгрузка данных в файл</li>
        </ol>
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">Выгрузка данных в файл:</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <form method="post" action='#' enctype="multipart/form-data">
                        <div class="form-row">
                            <ul>
                                {% for field_name, field_verbose, field_default in fields %}
                                    <li><label for="id_fields_{{ forloop.counter0 }}"><input type="checkbox" name="fields" value="{{ field_name }}" id="id_fields_{{ forloop.counter0 }}" {% if field_default %}checked{% endif %}> {{ field_verbose }}</label></li>
                                {% endfor %}
                            </ul>
                            {% csrf_token %}
                        </div>
                        <button type="submit" class="btn btn-primary">Загрузить</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
