{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}{% load django_tables2 %}

{% block html_title %}Страница с данными{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifequal breadcrumb '' %}Все карточки{% else %}{{ breadcrumb }}{% endifequal %}</li>
                </ol>
            </div>
        </div>
        <form method='post' action='{% url 'find' %}'>
            <div class="row">
                <div class="col-auto mr-auto flex-fill">
                    <div class="input-group mb-3">
                        {{ filter_czn_form }}
                        {{ filter_status_form }}
                        {{ search_form }}
                        {% csrf_token %}
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">Поиск</button>
                        </div>
                    </div>
                </div>
                <div class="col-auto mr-0 text-right">
                    <button name='export' class="btn btn-outline-secondary" type="submit">Сформировать и скачать таблицу</button>
                </div>
            </div>
        </form>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Найдено карточек - <span class="o_all"></span>. Отображается - <span class="o_view"></span>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Автор карточки</th>
                <th scope="col">Наименование работодателя</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="find-result">
            {% for i in oEmp %}
                <tr{% ifequal i.Status 9 %} class="table-success"{% endifequal %}{% ifequal i.Status 12 %} class="table-success"{% endifequal %}{% ifequal i.Status 1 %} class="table-danger"{% endifequal %}>
                    <td>{{ i.Owner.user.get_full_name }}</td>
                    <td>{{ i.Title }}</td>
                    <td>{{ i.get_Status_display }}</td>
                    <td><a href="{% url 'emp' i.id %}" class="btn btn-info btn-sm" role="button">Перейти</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="button-next"></div>
    </div>
    <script>
        var page_count = {{ page_count }};
        var per_page = {{ per_page }};
        var emp_count = {{ emp_count }};
        var page_number = 2;
        var pathname = $(location).attr('href');

        $(document).ready(function () {
            if (page_count > 1) {
                $('.o_all').html(emp_count);
                $('.o_view').html((page_number - 1) * per_page);
                $('.button-next').html('<button class="btn btn-light btn-block" id="button-next" type="submit">Показать больше записей</button>');
                $('#button-next').click(function () {
                    $.get(pathname, {page: page_number, emp_find: {{ emp_find }}, emp_czn: {{emp_czn}}, emp_status: {{ emp_status }} }, function(data) {
                        $('.find-result').append(data);
                    });

                    console.log(pathname, {page: page_number});
                    page_number = page_number + 1;
                    if (page_number > page_count) {
                        $('#button-next').hide();
                        $('.o_view').html(emp_count);
                    } else {
                        $('.o_view').html((page_number - 1) * per_page);
                    }
                });
            } else {
                $('.o_all').html(emp_count);
                $('.o_view').html(emp_count);
            }
        });
    </script>

{% endblock %}
