{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}{% load django_tables2 %}

{% block html_title %}Страница с данными{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active">{% ifequal breadcrumb '' %}Все карточки{% else %}{{ breadcrumb }}{% endifequal %}</li>
                </ol>
            </div>
        </div>
        <form method='get' action='{% url 'search' %}'>
            <div class="row">
                <div class="col-auto mr-auto flex-fill">
                    <div class="input-group mb-3">
                        {{ filter_czn_form }}
                        {{ filter_status_form }}
                        {{ search_form }}
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">Поиск</button>
                        </div>
                    </div>
                </div>
                <div class="col-auto mr-0 text-right">
                    <button name='export' class="btn btn-outline-secondary" type="submit">Сформировать и скачать таблицу</button>
                </div>
            </div>
        </form>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Найдено карточек - <strong>{{ acnt }}</strong>. Отображается - <strong>{{ vcnt }}</strong>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% render_table table %}

{% endblock %}
