{% extends "base.html" %}{% load static %}

{% block html_top_breadcrumb %}
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item">
            <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="input-group">
                    <form method="post" action='{% url 'upload' %}' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group d-flex">
                            <div class="custom-file">
                                <input type="file" name="files" class="form-control-file" multiple>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Загрузить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
