{% extends "base.html" %}{% load static %}

{% block html_title %}{{ title }}{% endblock %}
{% block html_top_breadcrumb %}
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item">
            <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Всего уведомлений - {{ mall }}, из них новых - {{ mnew }}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% for i in mlist %}
                    <div class="card border-info mb-3">
                        <div class="card-body">
                            <p class="card-text">{{ i.Text }} <a href=""></a></p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="btn-group mr-2" role="group">
                                <a href="{% url 'emp' i.EmpMessageID.id %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Перейти</a>
                            </div>
                            <div class="btn-group" role="group">
                                {% if not i.Reading %}<a href="{% url 'messageread' i.id %}" class="btn btn-primary btn-sm">Прочитано</a>{% endif %}
                            </div>
                            <div class="float-sm-right">{{ i.Sender.user.get_full_name }} {{ i.CreateDate }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
