{% extends "base.html" %}{% load static %}

{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    Всего уведомлений - {{ message_all }}, из них новых - {{ message_new }}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% for message in message_list %}
                    <div class="card border-info mb-3">
                        <div class="card-body">
                            <p class="card-text">{{ message.Text }} <a href=""></a></p>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="btn-group mr-2" role="group">
                                <a href="{% url 'employer_view' message.EmpMessageID.id %}" class="btn btn-outline-success btn-sm" role="button" aria-pressed="true">Перейти</a>
                            </div>
                            <div class="btn-group" role="group">
                                {% if not message.Reading %}<a href="{% url 'message_read' message.id %}" class="btn btn-primary btn-sm">Прочитано</a>{% endif %}
                            </div>
                            <div class="float-sm-right">{{ message.Sender.user.get_full_name }} {{ message.CreateDate }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
