{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
        </ol>
        <div class="card">
            <div class="card-header">
                Количество карточек направленых в отдел трудоустройства и специальных программ
            </div>
            <div class="card-body">
                <p class="card-text">Выберите отчетный период: </p>
                <form class="form-inline mb-0" method="post" action="{% url 'reportview' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        {{ month_form.month }}
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-success">Показать</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
