{% extends "base.html" %}{% load static %}

{% block html_title %}{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
        </ol>
        <div class="card-columns">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Карточки за месяц.</h5>
                    <p class="card-text">Количество карточек направленых в отдел трудоустройства и специальных программ за выбранный месяц.</p>
                    <a href="{% url 'reportmonth' %}" class="btn btn-warning">Перейти</a>
                </div>
            </div>
        </div>
        <div class="card-columns">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">Карточки за период.</h5>
                    <p class="card-text">Количество карточек направленых в отдел трудоустройства и специальных программ за выбранный период.</p>
                    <a href="{% url 'reportdate' %}" class="btn btn-warning">Перейти</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
