{% extends "base.html" %}{% load static %}

{% block html_title %}{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}{% endblock %}
{% block html_top_breadcrumb %}
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item active">
            <a href="{% url 'reportlist' %}" class="nav-link">Список отчетов</a>
        </li>
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item">
            <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>Направлено в отдел трудоустройства и специальных программ (в работе/закрыто/вынесено постановлений):</h4>
            </div>
            <div class="card-body">
                <form class="form-inline mb-3" method="post" action="{% url 'reportdate' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Выберите отчетный период:</label>
                    </div>
                    <div class="form-group mx-sm-3 mr-3">
                        {{ date_form.start_date }}
                    </div>
                    -
                    <div class="form-group mx-sm-3">
                        {{ date_form.end_date }}
                    </div>
                    <button type="submit" class="btn btn-success mb-2">Показать</button>
                </form>
                                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Центр занятости</th>
                        <th scope="col">Направлено [{% if emp_all %}{{ emp_all }}{% else %}0{% endif %}]</th>
                        <th scope="col">В работе [{% if emp_all %}{{ aw }}{% else %}0{% endif %}]</th>
                        <th scope="col">Закрыто [{% if ac %}{{ ac }}{% else %}0{% endif %}]</th>
                        <th scope="col">Вынесено постановлений [{% if ar %}{{ ar }}{% else %}0{% endif %}]</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u, c, ew, ec, er, pw, pc, pr in elist %}
                        <tr>
                            <td>{{ u.user.get_full_name }}</td>
                            <td>{{ c }}</td>
                            <td>{{ ew }}</td>
                            <td>{{ ec }}</td>
                            <td>{{ er }}</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div class="progress" style="height: 5px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ pw }}%" aria-valuenow="{{ ew }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-info" role="progressbar" style="width: {{ pc }}%" aria-valuenow="{{ ec }}" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ pr }}%" aria-valuenow="{{ er }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
