{% extends "base.html" %}{% load static %}

{% block html_top_breadcrumb %}
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item">
            <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Карточки за месяц.</h5>
                            <p class="card-text">Количество карточек направленых в отдел трудоустройства и специальных программ за выбранный месяц.</p>
                            <a href="{% url 'reportmonth' %}" class="btn btn-warning">Перейти</a>
                        </div>
                    </div>
                </div>
                <div class="card-columns">
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Карточки за период.</h5>
                            <p class="card-text">Количество карточек направленых в отдел трудоустройства и специальных программ за выбранный период.</p>
                            <a href="{% url 'reportdate' %}" class="btn btn-warning">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
