{% extends "base.html" %}
{% load i18n %}{% load static from staticfiles %}

{% block html_title %}Страница с данными{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">{% ifnotequal breadcrumb '' %}{{ breadcrumb }}{% endifnotequal %}</li>
        </ol>
        <table class="table table-hover table-sm table-responsive">
            <thead>
                <tr>
                    <th>Работодатель</th>
                    <th>Автор карточки</th>
                    <th>Ответственное лицо</th>
                </tr>
            </thead>
            <tbody>
            {% for i in elist %}
                <tr>
                    <th class="w-50" scope="row"><a href="{% url 'emp' i.id %}">{{ i.Title }}</a></th>
                    <td class="w-25">{{ i.Owner.user.get_full_name }}</td>
                    <td class="w-25">
                        <form class="form-inline mb-0" method="post" action="{% url 'responsset' %}">
                            <div class="form-row align-items-center" >
                                <div class="col-auto">
                                    {% csrf_token %}
                                    {{ respons_form.respons }}
                                    <input type="hidden" name="emp" value="{{ i.id }}">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-success">Назначить ответственным</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
