{% extends "base.html" %}{% load static %}

{% block html_title %}Страница с данными{% endblock %}
{% block html_body %}
    <br />
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Cписок пользователей</li>
        </ol>
        <div class="card bg-light">
            <div class="card-header">
                <h4 class="card-title">Cписок пользователей:</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <table class="table table-hover table-sm table-responsive">
                        <thead>
                            <tr>
                                <th>Пользователь</th>
                                <th>Логин</th>
                                <th>Роль</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in ulist %}
                            <tr>
                                <th scope="row">{{ i.get_full_name }}</th>
                                <td>{{ i.get_username }}</td>
                                <td></td>
                                <td>
                                    <form class="form-inline mb-0" method="post" action="{% url 'userrole' %}">
                                        <div class="form-row align-items-center" >
                                            <div class="col-auto">
                                                {% csrf_token %}
                                                {{ role_form.role }}
                                                <input type="hidden" name="user" value="{{ i.id }}">
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-success">Добавить роль</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for i in plist %}
                            <tr>
                                <th scope="row"><a href="#">{{ i.user.get_full_name }}</a></th>
                                <td>{{ i.user.get_username }}</td>
                                <td>{{ i.get_role_display }}</td>
                                <td>
                                    <form class="form-inline mb-0" method="post" action="{% url 'userrole' %}">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                {% csrf_token %}
                                                {{ role_form.role }}
                                                <input type="hidden" name="user" value="{{ i.user.id }}">
                                            </div>
                                            <div class="col-auto">
                                                <button type="submit" class="btn btn-warning">Сменить роль</button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
