{% extends "base.html" %}{% load static %}

{% block html_top_breadcrumb %}
        <li class="nav-item">
            <span class="navbar-text">/</span>
        </li>
        <li class="nav-item">
            <a href="{{ request.get_full_path }}" class="nav-link">{{ title }}</a>
        </li>
{% endblock %}
{% block html_body %}
    <main role="main" class="container-fluid">
        <div class="shadow card border-dark mb-3">
            <div class="card-header">
                <h4>{{ title }}:</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover table-sm table-borderless">
                    <tbody>
                    {% for i in list_emp %}
                        <tr>
                            <td class="small">
                                <strong class="text-gray-dark"><a href="{% url 'employer_view' i.id %}">{{ i.Title }}</a></strong>
                                <span class="d-block">{{ i.Owner.user.get_full_name }}</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="SetResponse('{{ i.Title }}', '{{ i.id }}')" title="Назначить ответственное лицо">Назначить ответственного</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    {% include 'response/modal.html' %}
{% endblock %}
