                <div class="modal-header bg-light">
                    <h5 class="modal-title">{{ temp_employer.Title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-3">ОГРН:</dt>
                        <dd class="col-sm-9">{{ temp_employer.OGRN }}</dd>
                        <dt class="col-sm-3">ИНН:</dt>
                        <dd class="col-sm-9">{{ temp_employer.INN }}</dd>
                    </dl>
                    <hr class="my-3">
                    <dl class="row">
                        <dt class="col-sm-3">Юридический адрес:</dt>
                        <dd class="col-sm-9">{{ temp_employer.JurAddress }}</dd>
                        <dt class="col-sm-3">Фактический адрес:</dt>
                        <dd class="col-sm-9">{{ temp_employer.FactAddress }}</dd>
                    </dl>
                    <hr class="my-3">
                    <dl class="row">
                        <dt class="col-sm-3">Контакт:</dt>
                        <dd class="col-sm-9">{{ temp_employer.Contact }}</dd>
                    </dl>
                    <hr class="my-3">
                    <dl class="row">
                        <dt class="col-sm-3">Дата последнего взаимодействия:</dt>
                        <dd class="col-sm-9">{{ temp_employer.EventDate }}</dd>
                    </dl>
                    {% for employer in list_existent_employer %}
                        <div class="alert {% if employer.Status == 9 %}alert-success{% else %}alert-danger{% endif %} small" role="alert">
                            Карточка предприятия с таким же ИНН существует. <a href="{% url 'employer_view' employer.id %}" class="alert-link">{{ employer.Title }}</a> - {{ employer.get_Status_display }}
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer bg-light">
                    <a class="btn btn-primary" href="{% url 'create' temp_employer.id %}" role="button">Создать карточку предприятия</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>

